*{ margin:0;
  padding: 0;}
.card2
      {border: 6px  solid green;
       border-radius: 20px;
       background-color:white;
       width:400px; 
       height:350px;
       text-align: center;
       margin:auto;
       padding: 10 px;
       }
h1{
   color:black;
   text-align: left;
}

h1:hover{
   color:blue
}
p{
   font-family: cursive;
   color:blueviolet;
   text-align:left;
   padding-bottom: 20px;
   
}
p:hover{
   color:aqua;
}

#click{
     background-color: red;
     color: azure;
     padding: 6px;
     border-radius:  40px;;      
}
